/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:12px Tahoma, sans-serif; background:#fff; color:#000; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px Tahoma, sans-serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------NAV------------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
body {
	padding-top: 10px;
	box-sizing: border-box;
}
.content {
	width: 740px;
	min-height: 300px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 3px;
	background-color: #00b3ee;
}

.content form li#submit-button {
	float: right;
}
.content form li input[type=submit] {
	width: 32px;
	height: 32px;
	border-radius: 3px;
	border: 1px solid #CECECE;
	background: #F1F1F1 url("../images/add98.png") no-repeat 5px;
	text-indent: -999px;
}
.content form li#new-task {
	overflow: hidden;
}
.content form li input[type=text] {
	width: 100%;
	padding: 9px 0 7px;
	background-color: #F1F1F1;
	border-radius: 3px;
	border: 1px solid #CECECE;
	color: #000000;
	text-indent: 10px;
}

.content .control {
	width: 140px;
	float: right;
	padding: 5px 10px;
	margin: 20px 0 0 20px;
	background-color: #F1F1F1;
	border-radius: 3px;
	border: 1px solid #CECECE;
	color: #000000;
}
.content .control span {
	font-weight: bold;
}
.content .control>li {
	margin-bottom: 5px;
	border-top: 1px solid #CECECE;
}
.content .control h3, .content .control>li:first-child {
	border-top: none;
	text-align: center;
}
.content .control li.active {
	font-weight: bold;
	cursor: auto;
}
.content .control ul li {
	cursor: pointer;
	line-height: 18px;
}
.content .control span.save {
	display: block;
	padding: 5px 0;
	background: #f5f5f5;
	border-radius: 3px;
	border: 1px solid #CECECE;
	cursor: pointer;
	text-align: center;
}
.content #task-list {
	overflow: hidden;
	margin-top: 20px;
}
.content #task-list li:first-child {
	margin-bottom: 5px;
}
.content #task-list li a#check-all {
	overflow: hidden;
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 3px;
	border: 1px solid #CECECE;
	background: #F1F1F1 url("../images/empty40.png") no-repeat 3px;
	text-align: left;
	text-indent: -999px;
}
.content #task-list li a#check-all {
	float: left;
	background: #F1F1F1 url("../images/empty40.png") no-repeat 3px;
}
.content #task-list li h2 {
	overflow: hidden;
	display: block;
	height: 30px;
	border-radius: 3px;
	border: 1px solid #CECECE;
	background: #F1F1F1;
	line-height: 30px;
	text-align: center;
}
.content #task-list li a.delete {
	overflow: hidden;
	display: block;
	float: right;
	height: 30px;
	width: 30px;
	border-radius: 3px;
	border: 1px solid #CECECE;
	background: #F1F1F1 url("../images/delete30.png") no-repeat 3px;
}
.content #task-list li a.check {
	display: block;
	float: left;
	height: 30px;
	width: 30px;
	border-radius: 3px;
	border: 1px solid #CECECE;
	background: #F1F1F1 url("../images/empty40.png") no-repeat 3px 3px;
}
.content #task-list li span {
	display: block;
	overflow: hidden;
	padding: 0 5px;
	min-height: 30px;
	border-radius: 3px;
	border: 1px solid #CECECE;
	background-color: #F1F1F1;
	font-size: 16px;
	line-height: 30px;
}
.content #task-list li input[type=submit] {
	display: none;
}
.content #task-list li input[type=text] {
	width: 556px;
	padding: 9px 0 7px;
	background-color: #F1F1F1;
	border-radius: 3px;
	border: 1px solid #CECECE;
	color: #000000;
	text-indent: 10px;
}

.content #task-list li a.check.checked, .content #task-list li a#check-all.checked {
	background: #F1F1F1 url("../images/checked18.png") no-repeat 4px 3px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/